<template>
    <div>
        <div class="box">
            <div class="box-content">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Greeting (comical) -->
                        <h3>You've got a lot of coding left to do, {{ name }}. Thirsty for a drink?</h3>
                        
                        <!-- Info (provided by the FDA) -->
                        <small>
                            <i>For healthy adults, the FDA has cited <strong>500 milligrams (mg)</strong> a day—that's about four or five cups of coffee—as an amount not generally associated with dangerous, negative effects. However, there is wide variation in both how sensitive people are to the effects of caffeine and how fast they metabolize it (break it down).</i>
                        </small>

                        <hr />

                        <div class="progress">
                            <div 
                                :class="{
                                    'bg-danger': caffeineConsumption >= 425,
                                    'bg-warning': caffeineConsumption < 425 && caffeineConsumption >= 250,
                                }"
                                class="progress-bar" 
                                role="progressbar" 
                                :style="'width:' + percentage + '%'" 
                                :aria-valuenow="percentage"
                                aria-valuemin="0" 
                                aria-valuemax="100"
                            >
                            </div>
                        </div>

                        <small><a href="#" @click="reset()">Reset Daily Limit</a></small>
                    
                        <hr />
                        
                        <ul class="list-group list-group-flush">
                            <li 
                                v-bind:key="caffeinatedDrink.id" 
                                v-for="caffeinatedDrink in caffeinatedDrinks"
                                class="list-group-item pl-0"
                            >
                                <nuxt-link :to="'/drinks/' + caffeinatedDrink.id">{{ caffeinatedDrink.name }}</nuxt-link>
                                <small>({{ caffeinatedDrink.caffeine }} mg/serving, {{ caffeinatedDrink.servings }} servings)</small>

                                <small class="right"><a href="#" @click="drink(caffeinatedDrink)">Drink</a></small>
                            </li>
                        </ul>

                        <hr />

                        <small>
                            <nuxt-link to="/drinks/create">
                                Know of a new drink? Add it here!
                            </nuxt-link>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'IndexPage',

    data: () => ({
        // Placeholder array to store the retrieved caffeinated drinks from the API (via fetch())
        caffeinatedDrinks: [],
    }),

    computed: {
        // Map state values to component properties (this makes them easier to access, particularly when we're on a read-heavy page)
        ...mapState({
            name: (state) => state.user.name,
            caffeineConsumption: (state) => state.user.caffeineConsumption,
        }),

        // Calculate the percentage of caffeine consumption (500 is hard-coded as it's the defined limit in the instructions)
        percentage: {
            get() {
                return ((this.caffeineConsumption / 500) * 100).toFixed(2)
            },
        },
    },

    methods: {
        reset: function() {
            this.$store.commit('resetCaffeine')
        },

        // 
        drink: function(caffeinatedDrink) {
            let remaining = Math.floor(Math.floor(500 - this.caffeineConsumption) / caffeinatedDrink.caffeine)

            if (remaining > 0) {
                if (
                    confirm(`Are you sure you want to drink a serving of ${caffeinatedDrink.name}? ${remaining - 1 === 0 ? `You will not able to drink any more servings of ${caffeinatedDrink.name} today.` : `You can drink ${remaining - 1} more serving of this today.`}`)
                ) {
                    this.$store.commit('addCaffeine', caffeinatedDrink)
                }
            } else {
                alert(`You cannot drink any more servings of ${caffeinatedDrink.name} today.`)
            }
        },
    },

    async fetch() {
        // API-request to retrieve the list of caffeinated drinks
        const { caffeinated_drinks: caffeinatedDrinks } = await this.$axios.$get(this.$config.apiURL + '/caffeinated-drinks');

        // Set the retrieved list of caffeinated drinks to the component's data
        this.caffeinatedDrinks = caffeinatedDrinks
    }
}
</script>

<style scoped>
    .right {
        right: 0px !important;
        position: absolute;
    }

    .pl-0 {
        padding-left: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-content {
        max-width: 50%;
    }
</style>
