<template>
    <div v-if="preflighted">
        <Nuxt v-if="name" />
        <WhoAreYou v-else />
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    data: () => ({
        preflighted: false,
    }),
    
    computed: {
        ...mapState({
            name: state => state.user.name,
        }),
    },

    mounted: function () {
        // NOTE: crude way to check if the user is "logged in" to our application
        if (typeof localStorage !== 'undefined' && localStorage.name) {
            this.$store.commit('setUserName', localStorage.name)
        }

        // All of our necessary data/checks have executed, so we can now allow 
        // the application to render.
        this.preflighted = true
    },
}
</script>
