<template>
    <div>
        <div class="box">
            <div class="box-content">
                <template v-if="success">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>{{ successMessage }}</h1>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Hi, there! Please tell me who you are before continuing.</h1>

                            <div class="input-group input-group-lg">
                                <input
                                    type="text"
                                    class="form-control input-lg"
                                    @keyup.enter="setUserName"
                                    placeholder="What is your name?"
                                />
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "WhoAreYouPage",

    data: () => ({
        success: false,
        successMessage: null
    }),

    computed: {
        ...mapState({
            url: (state) => state.url,
            name: (state) => state.name,
        }),
    },

    methods: {
        //
        setUserName: function (e) {
            // Set our temporary variable "success" to true, to display a message to the user
            this.success = true;
            this.successMessage = `Thanks, ${e.target.value}! You'll be redirected shortly.`;

            // After an arbitrary amount of time, commit the "setUserName" action,
            // which will set the name in the store
            setTimeout(() => {
                if (typeof localStorage !== 'undefined') {
                    localStorage.name = e.target.value;
                }

                this.$store.commit('setUserName', e.target.value);
            }, 3000);
        },
    },
};
</script>

<style scoped>
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-content {
        max-width: 50%;
    }
</style>
