<template>
    <div>
        <div class="box">
            <div class="box-content">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>So, you want to update a caffeinated drink? Please do so!</h3>

                        <div v-if="errors && errors.length" class="alert alert-danger" role="alert">
                            <ul 
                                class="">
                                <li 
                                    :key="errorIndex" 
                                    v-for="(error, errorIndex) in errors" 
                                    class=""
                                >
                                    {{ error }}
                                </li>
                            </ul>
                        </div>

                        <form @submit.prevent="update" ref="form">
                            <div class="form-group">
                                <label for="cd-name">Name</label>
                                <input type="text" class="form-control" id="cd-name" aria-describedby="nameHelp" placeholder="What is this called?" v-model="caffeinatedDrink.name">
                            </div>

                            <div class="form-group">
                                <label for="cd-caffeine">Caffeine</label>
                                <input type="number" class="form-control" id="cd-caffeine" placeholder="How much caffeine does this contain?" v-model="caffeinatedDrink.caffeine">
                            </div>

                            <div class="form-group">
                                <label for="cd-servings">Servings</label>
                                <input type="number" class="form-control" id="cd-servings" placeholder="How many servings does this contain?" v-model="caffeinatedDrink.servings">
                            </div>

                            <hr />

                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-danger" @click="remove">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'IndexPage',

    data: () => ({
        errors: [],

        caffeinatedDrink: {},
        caffeinatedDrinks: [],
    }),

    async fetch() {
        // NOTE: In a production-ready application, it's likely the list operation might not return all fields, 
        // so a distinct request would be needed to retrieve the full list of fields for the editable object.
        const { caffeinated_drinks: caffeinatedDrinks } = await this.$axios.$get(this.$config.apiURL + '/caffeinated-drinks');
        const { caffeinated_drink: caffeinatedDrink } = await this.$axios.$get(this.$config.apiURL + '/caffeinated-drinks/' + this.$route.params.id);

        // Set the retrieved data (list, and caffeinated drink) to the component's data
        this.caffeinatedDrink = caffeinatedDrink
        this.caffeinatedDrinks = caffeinatedDrinks
    },

    methods: {
        update: async function(evt) {
            // NOTE: Using "find" instead of "filter" here as it's a slight performance improvement
            const existing = this.caffeinatedDrinks.find(item => {
                if (item.id === this.caffeinatedDrink.id) {
                    return false
                }

                return item.name === this.caffeinatedDrink.name
            })

            if (existing) {
                alert(`This drink already exists!`)
                
                return
            }

            let response = await this.$axios.$put(this.$config.apiURL + '/caffeinated-drinks/' + this.caffeinatedDrink.id, this.caffeinatedDrink)
                .catch((e) => {
                    const { errors } = e.response.data

                    this.errors = errors
                })

            if (response && response.caffeinated_drink) {
                this.$router.push('/')
            }
        },

        remove: async function(evt) {
            let response = await this.$axios.$delete(this.$config.apiURL + '/caffeinated-drinks/' + this.$route.params.id)

            if (response && response.caffeinated_drink) {
                this.$router.push('/')
            }
        },
    }
}
</script>

<style scoped>
    .pl-0 {
        padding-left: 0;
    }
    
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-content {
        max-width: 50%;
    }
</style>
